<!DOCTYPE html>
<html>
<head>
	<title>PGonjay</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="<%= root_path %>">无聊图</a>
		</div>
	</nav>
	<div class="container-fluid">
		<%= yield %>  
	</div>

</body>
</html>
